<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid px-lg-4">
    <a class="navbar-brand d-flex align-items-center gap-2" th:href="@{/dashboard}">
      <span class="auth-brand" style="width:32px;height:32px;font-size:.85rem">TP</span>
      <span>Training Platform</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" th:href="@{/topics}">Topics</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/topics/most-wanted}">Most Wanted</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/topics/upcoming}">Upcoming</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/topics/past}">Past</a></li>
      </ul>
      <a class="btn btn-primary btn-sm me-2" th:href="@{/topics/new}">Request topic</a>
      <form th:action="@{/logout}" method="post" class="d-flex">
        <button class="btn btn-outline-light btn-sm" type="submit">Sign out</button>
      </form>
    </div>
  </div>
</nav>
